<li>
    <p>
       <!-- user will only be able to delete his own comments -->
       <% if(locals.user && locals.user.id == comment.user.id) { %>
          <small>
             <a href="/comments/destroy/<%= comment.id%>">Del</a>
          </small>
          <% } %>
       <%= comment.content%>
       <br>
       <small>
          <%= comment.user.name%>
       </small>
    </p>
    
    </li>