<footer class="footer">
    <div class="footer-left">
        <!-- <img src="/images/logo.png" alt=""> -->
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur deleniti odio, </p>
        <!-- <div class="socials">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-tumblr"></i></a>
        </div> -->
    </div>
    <ul class="footer-right">
        <!-- <li>
            <h2>Product</h2>
            <ul class="box">
                <li><a href="#">Theme</a></li>
                <li><a href="#">Plugin Design</a></li>
                <li>
                    <a href="#">HTML Template</a>
                </li>
                <li><a href="#">Wordpress</a></li>
                <li><a href="#">Joomla Template</a></li>
            </ul>
        </li> -->
        <!-- <li class="features">
            <h2>Useful Links</h2>
            <ul class="box">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pricing</a></li>
                <li>
                    <a href="#">Sales</a>
                </li>
                <li><a href="#">Certifications</a></li>
                <li><a href="#">Customer Service</a></li>
            </ul>
        </li> -->
        <li>
            <h2>Address</h2>
            <!-- <ul class="box">
                <li><a href="#">l27, Westwood Lane</a></li>
                <li><a href="#">DA15 9PS Sidcup</a></li>
                <li>
                    <a href="#">London</a>
                </li>
                <li><a href="#">United Kingdom</a></li>
            </ul> -->
        </li>

    </ul>
    <div class="footer-bottom">
        <p>All Right reserved by &copy;SocialGram 2021</p>
    </div>
</footer>