<!-- <header>
    Page Header
    <ul>
        <% if(locals.user) {%>
        <li>
            <a href="/users/profile">
                <%= user.name %>
            </a>
        </li>
        <li> -->
            <!-- <a href="/users/sign-out">Sign Out></a> -->
            <!-- <a href="/users/sign-out">sign-out</a>
        </li>
         <%}else {%>
         <li>
             <a href = "/users/sign-in">Sign In</a>
         </li>
         <li>
             <a href="/users/sign-up">Sign Up</a>
         </li>

        <%}%>
    </ul>

</header> -->


<header class="header">
    <div
      class="d-flex flex-column flex-md-row align-items-center  px-md-4  bg-secondary border-bottom shadow-sm " 
    >
      <!-- <h5 class="my-0  mr-md-auto font-weight-normal"> <img src="/images/logo.png" alt="" width="100" height="100"> </h5> -->
      <nav class="my-2 my-md-0 mr-md-3">
        <% if(locals.user){ %>
        <a class="p-2 text-dark" href="/users/profile"><strong><%= user.name %></strong></a>
        <a class="p-2 text-dark" id="pos" href="/users/sign-out"
          ><button type="submit" class="btn btn-danger">Sign Out</button></a
        >
  
        <a class="p-2 text-dark" href="/"
          ><button type="submit" class="btn btn-primary">Home</button></a
        >
        <%}else{%>
        <a class="p-2 text-dark" href="/users/sign-in"
          ><button type="submit" class="btn btn-success">Sign In</button></a
        >
      
      <a class="btn btn-primary" href="/users/sign-up">
        <button type="submit" class="btn btn-success">Sign up</button></a>
      </nav>
    </div>
  
    <% } %>
  </header>