<h1>
                Codeial / <%= title %>
</h1>

<section id="feed-post">
        <h4>Posts</h4>
        <form action="" id="new-post-form" method="POST">
                <textarea name="content" id="" cols="30" rows="3"></textarea>
                <input type="submit" value="Post">

        </form>

</section>