body{
    background-color: #FFFFFF;
}

body {
    font-family: 'Lato', sans-serif;
}

.card-body {
    a {
        font-size: 20px;
        &:hover {
            color: #8B7FCB;
        }
    }
}
// .note{
//     background-color: #8B7FCB;
// }
// change post div || Notes Div
.card {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 1px #8B7FCB;
    transition: all ease-in-out 0.2s;
    border-radius: 20px 20px 20px 20px;
    &:hover {
        box-shadow: 0px 0px 2px 1px rgb(240, 240, 240);
    }
}
.row {
    section:nth-child(3) {
        
        $sub-container-height: 47%;
        height: 95vh;
        overflow: hidden;
        #friends-container {
            .list-group-item {
                background: rgb(255, 255, 255);
            }
            height: $sub-container-height;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
                ;
            }
        }
        #all-users-container {
            height: $sub-container-height;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
                ;
            }
            .list-group-item {
                background: rgb(255, 255, 255);
            }
        }
        a {
            &:hover {
                text-decoration: none;
                color: #8B7FCB;;
            }
        }
        .badge {
            color: white;
            &:hover {
                color: white;
                cursor: pointer;
            }
        }
        ul {
            overflow: scroll;
            max-height: 75vh;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}