.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    .post-user-profile {
        border: 1px solid cornsilk;
        border-radius: 50%;
        img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
    }
    .post-user-name {
        margin-left: 10px;
        font-size: 15px;
        // margin-top: -10px;
        display: flex;
        flex-direction: column;
        font-weight: 800;
        .post-time {
            font-size: 12px;
            font-weight: 600;
        }
    }
}