<div>
    <p>Hi
        <%=comment.user.name%>
    </p>
    <br>
    <br>
    <p>Your Comment: <strong>
        <%=comment.content%>
    </strong></p>
    
    <p>is published on SocialGram!</p>
    <p>Thanks for using our services! 😇</p>
    <p>Thanks and Regards,</p>
    <p>Hemant Raj</p>
</div>