.body {
  background: #e7ecec;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-title .post-user-profile {
  border: 1px solid #dae5e6;
  border-radius: 50%;
}

.card-title .post-user-profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.card-title .post-user-name {
  margin-left: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  font-weight: 800;
}

.card-title .post-user-name .post-time {
  font-size: 12px;
  font-weight: 600;
}
